<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Dashboard</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-card>
  <mat-card-content>
    <mat-tab-group class="visitor-tab-group">
      <mat-tab label="Visitors">
        <div class="visitor-tab-content">
          Visitors
        </div>
      </mat-tab>
      <mat-tab label="Employees">
        <div class="visitor-tab-content">
          <employees></employees>
        </div>
      </mat-tab>
      <mat-tab label="Visitor Purposes">
        <div class="visitor-tab-content">
          <purposes></purposes>
        </div>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>
